body{
	
	background-color: rgb(60, 102, 79);
	justify-content: center;
	padding:100px 600px;
	
	
}

label {
	display:block;
	
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

input {
	display:block;
} 


p{

	color:blue;
	font-size:20px;
	border: 2px solid lightgreen;
	background-color: rgb(1, 243, 110);
	
	}

	input[type=text] {
		border: 2px solid lightgreen;
		border-radius: 4px;
		background-color: #3b963e;
  		color: white;
	  }

	input[type=button], input[type=submit], input[type=reset] {
		background-color: #3b963e;
		text-decoration: none;
		margin: 4px 2px;
		border: none;
		color: white;
		padding: 16px 32px;
	
		
		cursor: pointer;
	  }